.react-calendar {
  max-width: 100%;
  background: transparent;
  border: 1px solid #ff3a8e40;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 5em;
  background: transparent;
  color: white;
  margin-top: 2.5%;
  width: 48%;
  font-size: larger;
  margin-left: 3%;
}
.react-calendar__tile {
  color: white;
  font-size: medium;
}
.react-calendar__navigation__arrow {
  color: white;
}
.react-calendar__navigation__label__labelText {
  color: white;
  font-size: x-large;
}
.react-calendar__navigation {
  display: flow-root !important;
}
.react-calendar__tile--active {
  background: darkblue;
}
.react-calendar__tile--now {
  color: white;
  background-color: darkblue;
}
.react-calendar__year-view {
  margin-top: 10%;
}
.react-calendar__tile--hasActive {
  background-color: rgb(11, 11, 131);
}
.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: rgba(173, 173, 224, 0);
  color: white;
}
